.App {
  font-family: sans-serif;
  text-align: center;
  color: white;
  font-family: "Blender Pro";
}
* {
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1524334228333-0f6db392f8a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-position: cover;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;

  color: #9aa5b1;
}
